<html>
<body>
<h1>Admin Page </h1>
 <script language="javascript" type="text/javascript">
    token = document.getElementById('token').value;
    if(token){
      document.cookie = "token="+token;
    }
    </script>
</body>
</html>