    <footer class="footer">
      <div class="footer__block">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <h4>About Jobs</h4>
              <p>Jobs is a purposefully vulnerable application built by nVisium to assist in training students on node.js security</a>.</p>
             
            </div>
           
           
          
            <div class="col-md-8 col-sm-6">
              <h4>Client zone</h4>
              <% if (typeof user === "object") {%>
                <li>Welcome <%=user.username%></li>
              <% } else { %>
              <ul>
                <li><a href="/login">Login or Register</a></li>
              </ul>
              <% } %>
            </div>
            
            
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy;2018 nVisium, LLC</p>
            </div>
            <div class="col-md-6">
              <p class="credit pull-right">By <a href="https://nvisium.com">nVisium</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
	
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/jquery.cookie.js"> </script>
    <script src="public/javascripts/owl.carousel.min.js"></script>
    <script src="public/javascripts/front.js"></script>
