    <footer class="footer">
      <div class="footer__block">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <h4>About Jobs</h4>
              <p>Jobs is a <strong>Bootstrap 3 jobs board theme</strong> developed in the middle of Europe by <a href="http://ondrejsvestka.cz">Ondrej Svestka</a>.</p>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. </p>
            </div>
            <div class="col-md-4 col-sm-6">
              <h4>This Theme</h4>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="category.html">Jobs Listing</a></li>
                <li><a href="detail.html">Job detail</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="blog.html">Blog listing</a></li>
                <li><a href="post.html">Blog Post</a></li>
                <li><a href="packages.html">Pricing packages</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="text.html">Text page</a></li>
                <li><a href="faq.html">FAQ</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6">
              <h4>Our offices</h4>
              <h5>London</h5>
              <p> Donec eleifend<br />libero at sagittis<br />mollis + 44 2556 789 8799</p>
              <h5>Paris</h5>
              <p> Donec eleifend<br />libero at sagittis<br />mollis + 41 2556 789 8799</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <h4>Client zone</h4>
              <ul>
                <li><a href="client-register.html">Login or Register</a></li>
                <li><a href="client-dashboard.html">Dashboard</a></li>
                <li><a href="client-applicants.html">Applicants</a></li>
                <li><a href="client-job.html">Post a new job</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6">
              <h4>Let's be Friends</h4>
              <p class="social"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
            </div>
            <div class="col-md-4 col-sm-12">
              <h4>News and Updates</h4>
              <p>Sign up to get weekly portion of fresh jobs and news from us.</p>
              <form class="footer__newsletter">
                <div class="input-group">
                  <input type="text" placeholder="Enter your email address" class="form-control"><span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-send"></i></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy;2017 Best company</p>
            </div>
            <div class="col-md-6">
              <p class="credit pull-right">Theme by <a href="https://ondrejsvestka.cz">Ondrej Svestka</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
	
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/jquery.cookie.js"> </script>
    <script src="public/javascripts/owl.carousel.min.js"></script>
    <script src="public/javascripts/front.js"></script>