    <!-- navbar-->
    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header"><a href="/" class="navbar-brand"><img src="public/images/logo.png" alt="logo" class="hidden-xs hidden-sm"><img src="public/images/logo-small.png" alt="logo" class="visible-xs visible-sm"><span class="sr-only">Go to homepage</span></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          
             
			  <% if (typeof user === "object") {%>
			  	<div id="navigation" class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="/homepage">Dashboard</a></li>
						<!--<li><a href="/search">Search</a></li>-->
		                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b></a>
		                  <ul class="dropdown-menu">
		                    <li><a href="/settings">My Account</a></li>
							<% if (!(user.role == 1)) { %>
							<li class=" "><a href="/create_listing"><i class="icon-search"></i> <span>Create Listing</span></a></li>
							<% } else { %>
							<li class=" "><a href="/view_applications"><span>View My Applications</span></a></li>
							<% } %>
		                  </ul>
		                </li>
						<li><a href="#"><%=user.username%></a></li>
			  			<li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
					</ul>
				</div>
			  <% } else {%>
	            <div id="navigation" class="collapse navbar-collapse navbar-right">
	              <ul class="nav navbar-nav">
					 <li><a href="/login"><i class="fa fa-sign-in"></i>Login</a></li>
					</ul>
		          </div>
		        </div>
			  	
			  <% } %>

	  	
      </div>
  	<% if (errors.length > 0) {%>
		<div class="alert alert-warning">
		  <strong>Warning!</strong> <%= errors %>
		</div>
  	<%}%>
  	
    </header>
  	<% if (success.length > 0) {%>
		<div class="alert alert-success">
		  <%= success %>
		</div>
  	<%}%>