<!DOCTYPE html>
<html lang="en">
   <% include partials/head %>
  <body class=""> 
  <% include partials/header %>

  	<div class="content">
      <div class="container-fluid">
		<div class="span8 main-content">
        	<div class="row-fluid">
				<div class="row-fluid">
		            <h1> Welcome! </h1>
                <h2> Site Under Construction...</h2>
                <div>
                    node.nV is an intentionally vulnerable node.js application designed to showcase web application vulnerabilities in node.js.The app is modeled after a Job posting website.<br/>

                    As an employee, you have the ability to view all public listings and search for public listings as well. You can also update your account settings in the settings tab. In order to access premium content you need to upgrade your account to premium. Premium account holders gain access to premium Job postings and greater employer visibility.
                </div>
				</div>
	      	</div>
		</div>
	  </div>
	</div>
<% include partials/footer %>
    
  </body>
</html>


