<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
     <% include partials/header %>
    <section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="job-form-box">
              <h2 class="heading">Find a <span class="accent">job</span> you will <span class="accent">love</span>.</h2>
              <form id="job-main-form" method="get" action="#" class="job-main-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="profession">Profession</label>
                        <input type="text" id="profession" name="profession" placeholder="Profession you are looking for" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Any particular location?" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" name="submit" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="background: #fafafa;">
      <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured same-height-row">
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="public/images/featured1.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="public/images/airbnb.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Software Engineer</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="label featured__label label-success">Full Time</span></p>
                <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="public/images/featured2.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="public/images/google.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Customer support</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>Palo Alto<span class="label featured__label label-success">Full Time</span></p>
                <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="public/images/featured3.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="public/images/dropbox.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Graphic designer</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="label featured__label label-default">Part Time</span></p>
                <p>Fifth abundantly made Give sixth hath. Cattle creature i be dont them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center margin-top"><a href="category.html" class="btn btn-ghost">See more jobs</a></div>
      </div>
    </section>
    <section>
      <div class="container">
        <h4 class="heading">Trending this month</h4>
        <div class="job-listing job-listing--featured ">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="row">
                <div class="col-xs-2"><img src="public/images/airbnb.png" alt="AirBnb " class="img-responsive"></div>
                <div class="col-xs-10">
                  <h4 class="job__title"><a href="detail.html">Webdesigner</a></h4>
                  <p class="job__company">
                     
                    AirBnb                            
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>San Francisco</div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
              <p>Posted 5 days ago</p>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
              <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
            </div>
          </div>
        </div>
        <div class="job-listing  ">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="row">
                <div class="col-xs-2"><img src="public/images/google.png" alt="Google " class="img-responsive"></div>
                <div class="col-xs-10">
                  <h4 class="job__title"><a href="detail.html">Front End developer</a></h4>
                  <p class="job__company">
                     
                    Google                            
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Palo Alto</div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
              <p>Posted 10 days ago</p>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
              <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
            </div>
          </div>
        </div>
        <div class="job-listing  ">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="row">
                <div class="col-xs-2"><img src="public/images/dropbox.png" alt="Dropbox " class="img-responsive"></div>
                <div class="col-xs-10">
                  <h4 class="job__title"><a href="detail.html">Webdesigner</a></h4>
                  <p class="job__company">
                     
                    Dropbox                            
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>San Francisco</div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
              <p>Posted 5 days ago</p>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
              <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
            </div>
          </div>
        </div>
        <div class="job-listing job-listing--last">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="row">
                <div class="col-xs-2"><img src="public/images/amazon.png" alt="Amazon " class="img-responsive"></div>
                <div class="col-xs-10">
                  <h4 class="job__title"><a href="detail.html">Team Leader</a></h4>
                  <p class="job__company">
                     
                    Amazon                            
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Palo Alto</div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
              <p>Posted 10 days ago</p>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
              <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
            </div>
          </div>
        </div>
        
      
      </div>
    </section>
    <section style="background: #fafafa;" class="section testimonails">
      <div class="container">
        <h2 class="heading">What our customers say</h2>
        <p class="lead text-center">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.  </p>
        <div class="row"> 
          <div class="col-md-12">
            <ul class="owl-carousel testimonials same-height-row">
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="public/images/person-1.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="public/images/person-2.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                    <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="public/images/person-3.png">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="public/images/person-4.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="public/images/person-4.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <h3 class="heading">Our Packages</h3>
        <p class="lead text-center margin-bottom--big">
                    
          One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.  
        </p>
        <div class="row packages">
          <div class="col-md-3">
            <div class="package ">
              <div class="package-header">
                <h5>Basic</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>7</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-times"></i>Own config file</li>
                <li><i class="fa fa-times"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
          <div class="col-md-3">
            <div class="package ">
              <div class="package-header">
                <h5>Standard</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>21</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-times"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
          <div class="col-md-3">
            <div class="package best-value">
              <div class="package-header">
                <h5>Premium</h5>
                <div class="meta-text">Best Value</div>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>53</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-check"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
          <div class="col-md-3">
            <div class="package ">
              <div class="package-header">
                <h5>Standard</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>99</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-check"></i>Sharing Tools</li>
                <li><i class="fa fa-check"></i>Auto Backup</li>
                <li><i class="fa fa-check"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
        </div>
      </div>
    </section>
    <section style="background-image: url('public/images/startup.jpg'); " class="section-divider">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Start searching for your new job now! <a href="" class="btn btn-white">See our job offers</a></p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4>From our blog</h4>
            </div>
            <p class="text-center text-muted">What's new in the world of human resources? Check out our blog!</p>
          </div>
        </div>
        <div id="blog-homepage" class="row">
          <div class="col-sm-6">
            <div class="post">
              <div class="image"><a href="post.html"><img src="public/images/blog1.jpg" alt="" class="img-responsive"></a></div>
              <h4><a href="post.html">Education in the IT</a></h4>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="post">
              <div class="image"><a href="post.html"><img src="public/images/blog2.jpg" alt="" class="img-responsive"></a></div>
              <h4><a href="post.html">Best books for personal development</a></h4>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% include partials/footer %>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/jquery.cookie.js"> </script>
    <script src="public/javascripts/owl.carousel.min.js"></script>
    <script src="public/javascripts/front.js"></script>
  </body>
</html>